body {
  color: #808080;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;

  background-color: #fff;
  margin: 0px;
  overflow: hidden;
}

#container {
  background-color: #114a83;
  margin: 0;
  padding: 0;
}
.title {
  margin: 0 auto;
  text-align: center;
  color: white;
  top: 20px;
  background-color: #114a83;
}
#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
}

#canvas1, #canvas2, #canvas3 {
  position: relative;
  display: block;
  border: 1px solid red;
}

#canvas1 {
  width: 300px;
  height: 200px;
}

#canvas2 {
  width: 400px;
  height: 100px;
  left: 150px;
}

#canvas3 {
  width: 200px;
  height: 300px;
  left: 75px;
}